In [2]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('world-data-2023-clean.csv')

In [22]:
df.head()

,Unnamed: 0,Country,Density..P.Km2.,Land.Area.Km2.,Agricultural.Land....,Birth.Rate,Co2.Emissions,Fertility.Rate,Forested.Area....,Life.expectancy,Population,Urban_population
0,1,Afghanistan,60,"652,230",58.10%,32.49,"8,672",4.47,2.10%,64.5,"38,041,754","9,797,273"
1,2,Albania,105,"28,748",43.10%,11.78,"4,536",1.62,28.10%,78.5,"2,854,191","1,747,593"
2,3,Algeria,18,"2,381,741",17.40%,24.28,"150,006",3.02,0.80%,76.7,"43,053,054","31,510,100"
3,5,Angola,26,"1,246,700",47.50%,40.73,"34,693",5.52,46.30%,60.8,"31,825,295","21,061,025"
4,6,Antigua and Barbuda,223,443,20.50%,15.33,557,1.99,22.30%,76.9,"97,118","23,800"

In [23]:
df['density'] = df['Density..P.Km2.'].apply(lambda x: float(x.replace(',','')))
df['land_area_m'] = df['Land.Area.Km2.'].apply(lambda x: float(x.replace(',',''))/1000000)
df['agricultural_land'] = df['Agricultural.Land....'].apply(lambda x: float(x.replace('%',''))/100)
df['birth_rate'] = df['Birth.Rate']
df['fertility_rate'] = df['Fertility.Rate']
df['life_expectancy'] = df['Life.expectancy']
df['co2_emissions'] = df['Co2.Emissions'].apply(lambda x: float(x.replace(',','')))
df['proportion_forested'] = df['Forested.Area....'].apply(lambda x: float(x.replace('%',''))/100)
df['population_m'] = df['Population'].apply(lambda x: float(x.replace(',',''))/1000000)
df['urban_population_m'] = df['Urban_population'].apply(lambda x: float(x.replace(',',''))/1000000)

In [25]:
df = df[['Country', 'density','land_area_m','agricultural_land', 'birth_rate','fertility_rate','life_expectancy','proportion_forested','population_m','urban_population_m','co2_emissions']]
df.head()

,Country,density,land_area_m,agricultural_land,birth_rate,fertility_rate,life_expectancy,proportion_forested,population_m,urban_population_m,co2_emissions
0,Afghanistan,60.0,0.652230,0.581,32.49,4.47,64.5,0.021,38.041754,9.797273,8672.0
1,Albania,105.0,0.028748,0.431,11.78,1.62,78.5,0.281,2.854191,1.747593,4536.0
2,Algeria,18.0,2.381741,0.174,24.28,3.02,76.7,0.008,43.053054,31.510100,150006.0
3,Angola,26.0,1.246700,0.475,40.73,5.52,60.8,0.463,31.825295,21.061025,34693.0
4,Antigua and Barbuda,223.0,0.000443,0.205,15.33,1.99,76.9,0.223,0.097118,0.023800,557.0

In [26]:
df.to_csv('world-data-2023-clean-2.csv', index=False)